/* ======================================== */
/* 			STYLE FOR BUKUFI				 */
/* ======================================== */
/* Author	: Arief Budi Prasetyo			 */
/* Version	: 1.0							 */
/* Email	: Arief.Prasetyo911@gmail.com	 */
/* ======================================== */
/* 			STYLE FOR BUKUFI				 */
/* ======================================== */
/* ======================================== */
/* 			STYLE FOR BUKUFI				 */
/* ======================================== */
/* Author	: Arief Budi Prasetyo			 */
/* Version	: 1.0							 */
/* Email	: Arief.Prasetyo911@gmail.com	 */
/* ======================================== */
/* 			STYLE FOR BUKUFI				 */
/* ======================================== */
/* ======================================== */
/* 		MIXIN FOR KAIGAN WEB PROJECT		 */
/* ======================================== */
/* Author	: Arief Budi Prasetyo			 */
/* Version	: 1.0							 */
/* Email	: Arief.Prasetyo911@gmail.com	 */
/* ======================================== */
/* 		MIXIN FOR KAIGAN WEB PROJECT		 */
/* ======================================== */
/* PADDING TOP */
/* PADDING BOTTOM */
/* PADDING LEFT */
/* PADDING RIGHT */
/* MARGIN TOP */
/* MARGIN BOTTOM */
/* MARGIN LEFT */
/* MARGIN RIGHT */
/* BORDER-RADIUS */
/* 		G E N E R A L  S E T T I N G S  	 */
/*========================================== */
body {
  font-size: 14px;
  font-weight: normal; }

nav, header, main, article, section, aside, footer {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

.no-padding-left {
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0; }

.no-padding-right {
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0; }

.no-padding-top {
  padding-top: 0;
  -webkit-padding-before: 0; }

.no-padding-bottom {
  padding-bottom: 0;
  -webkit-padding-after: 0; }

.no-margin-left {
  margin-left: 0;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  -o-margin-start: 0; }

.no-margin-right {
  margin-right: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0;
  -o-margin-end: 0; }

.no-margin-top {
  margin-top: 0;
  -webkit-margin-before: 0; }

.no-margin-bottom {
  margin-bottom: 0;
  -webkit-margin-after: 0; }

.no-border-radius {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0; }

.padding-left-15 {
  padding-left: 15px;
  -webkit-padding-start: 15px;
  -moz-padding-start: 15px;
  -o-padding-start: 15px; }

.padding-right-15 {
  padding-right: 15px;
  -webkit-padding-end: 15px;
  -moz-padding-end: 15px;
  -o-padding-end: 15px; }

.padding-top-15 {
  padding-top: 15px;
  -webkit-padding-before: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px;
  -webkit-padding-after: 15px; }

.margin-left-15 {
  margin-left: 15px;
  -webkit-margin-start: 15px;
  -moz-margin-start: 15px;
  -o-margin-start: 15px; }

.margin-right-15 {
  margin-right: 15px;
  -webkit-margin-end: 15px;
  -moz-margin-end: 15px;
  -o-margin-end: 15px; }

.margin-top-15 {
  margin-top: 15px;
  -webkit-margin-before: 15px; }

.margin-bottom-15 {
  margin-bottom: 15px;
  -webkit-margin-after: 15px; }

.margin-left-13 {
  margin-left: 13px;
  -webkit-margin-start: 13px;
  -moz-margin-start: 13px;
  -o-margin-start: 13px; }

.margin-right-13 {
  margin-right: 13px;
  -webkit-margin-end: 13px;
  -moz-margin-end: 13px;
  -o-margin-end: 13px; }

.margin-top-13 {
  margin-top: 13px;
  -webkit-margin-before: 13px; }

.margin-bottom-13 {
  margin-bottom: 13px;
  -webkit-margin-after: 13px; }

.margin-left-10 {
  margin-left: 10px;
  -webkit-margin-start: 10px;
  -moz-margin-start: 10px;
  -o-margin-start: 10px; }

.margin-right-10 {
  margin-right: 10px;
  -webkit-margin-end: 10px;
  -moz-margin-end: 10px;
  -o-margin-end: 10px; }

.margin-top-10 {
  margin-top: 10px;
  -webkit-margin-before: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px;
  -webkit-margin-after: 10px; }

.padding-left-5 {
  padding-left: 5px;
  -webkit-padding-start: 5px;
  -moz-padding-start: 5px;
  -o-padding-start: 5px; }

.padding-right-5 {
  padding-right: 5px;
  -webkit-padding-end: 5px;
  -moz-padding-end: 5px;
  -o-padding-end: 5px; }

.padding-top-5 {
  padding-top: 5px;
  -webkit-padding-before: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px;
  -webkit-padding-after: 5px; }

.margin-left-5 {
  margin-left: 5px;
  -webkit-margin-start: 5px;
  -moz-margin-start: 5px;
  -o-margin-start: 5px; }

.margin-right-5 {
  margin-right: 5px;
  -webkit-margin-end: 5px;
  -moz-margin-end: 5px;
  -o-margin-end: 5px; }

.margin-top-5 {
  margin-top: 5px;
  -webkit-margin-before: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px;
  -webkit-margin-after: 5px; }

#active {
  font-weight: bold; }

.actived {
  background-color: #0e9e8a; }

li.need-divider ~ li.need-divider {
  border-left: 1px solid #0cbda4; }

li.need-divider:last-child {
  border-right: 1px solid #0cbda4; }

.dropdown-hover-color {
  background-color: #0e9e8a; }

.list-group {
  margin-top: 5px;
  -webkit-margin-before: 5px;
  margin-bottom: 0;
  -webkit-margin-after: 0; }
  .list-group a {
    color: black; }
    .list-group a li {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border-style: hidden;
      padding: 5px; }
      .list-group a li:hover {
        color: #20b2aa; }

.list-group {
  margin-top: 5px;
  -webkit-margin-before: 5px;
  margin-bottom: 0;
  -webkit-margin-after: 0; }
  .list-group .list-group-item {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-style: hidden;
    padding: 5px; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: #23527c;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }

.img-comic-standard {
  width: 100%;
  height: 170px; }

.posting-center {
  text-align: center; }

input, .input-group {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0; }

.breadcrumb {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent;
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0; }

.top-image {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 15px;
  -webkit-margin-after: 15px; }
  .top-image img {
    width: 100%;
    height: 250px;
    object-fit: cover; }

.panel-default {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 10px;
  -webkit-margin-after: 10px; }

/*pagination */
.pager {
  margin: 0;
  position: initial; }

.pager li > a, .pager li > span {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.my-active span {
  background-color: #cdc9c9 !important;
  color: white !important;
  border-color: #7d7d7d !important; }

#ScrollToTop {
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 999; }

.col-md-12, .col-lg-12 {
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0; }

.bold {
  font-weight: bold; }

.badge-paid {
  background-color: #cfb53b;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0; }

.badge-free {
  background-color: #3a87ad;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0; }

.badge-paids {
  background-color: #cfb53b;
  color: black;
  font-weight: bold; }

.badge-frees {
  background-color: #3a87ad;
  color: black;
  font-weight: bold; }

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%; }

.navbar-toggle.x .icon-bar:nth-of-type(3) {
  opacity: 0;
  filter: alpha(opacity=0); }

.navbar-toggle.x .icon-bar:nth-of-type(4) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%; }

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
  opacity: 1;
  filter: alpha(opacity=100); }

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(4) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

/* END ANIMATED X */
/*general smartphone */
@media (max-device-width: 767px) {
  .container {
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0;
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
    .container .col-xs-12.comic-status {
      padding-right: 0 !important;
      -webkit-padding-end: 0 !important;
      -moz-padding-end: 0 !important;
      -o-padding-end: 0 !important;
      padding-left: 0 !important;
      -webkit-padding-start: 0 !important;
      -moz-padding-start: 0 !important;
      -o-padding-start: 0 !important; }
    .container .navbar-header {
      margin-right: 0;
      -webkit-margin-end: 0;
      -moz-margin-end: 0;
      -o-margin-end: 0; }
      .container .navbar-header .navbar-brand {
        margin-left: 15px;
        -webkit-margin-start: 15px;
        -moz-margin-start: 15px;
        -o-margin-start: 15px;
        font-weight: bold;
        color: white; }
        .container .navbar-header .navbar-brand img {
          height: 45px;
          position: absolute;
          top: 3px;
          left: 5px;
          width: initial; }
      .container .navbar-header .navbar-toggle {
        background-color: transparent;
        border-style: none; }
    .container .nav {
      margin: 0;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px; }
      .container .nav li a {
        padding-right: 12px;
        -webkit-padding-end: 12px;
        -moz-padding-end: 12px;
        -o-padding-end: 12px;
        padding-left: 12px;
        -webkit-padding-start: 12px;
        -moz-padding-start: 12px;
        -o-padding-start: 12px;
        padding-bottom: 5px;
        -webkit-padding-after: 5px;
        color: #0e9e8a; }
      .container .nav li a.actived {
        background-color: #0e9e8a;
        color: white; }
      .container .nav li .logined {
        padding-top: 0;
        -webkit-padding-before: 0;
        margin-bottom: 15px;
        -webkit-margin-after: 15px; }
      .container .nav li a.fb {
        padding-top: 5px;
        -webkit-padding-before: 5px; }
    .container .navbar-nav .open .dropdown-menu {
      background-color: #ddd; }
      .container .navbar-nav .open .dropdown-menu li {
        padding-right: 5px;
        -webkit-padding-end: 5px;
        -moz-padding-end: 5px;
        -o-padding-end: 5px;
        padding-left: 5px;
        -webkit-padding-start: 5px;
        -moz-padding-start: 5px;
        -o-padding-start: 5px; }
        .container .navbar-nav .open .dropdown-menu li a {
          color: white; }
      .container .navbar-nav .open .dropdown-menu li:nth-child(1) {
        margin-top: 35px;
        -webkit-margin-before: 35px; }
    .container .navbar-form {
      margin-right: 15px;
      -webkit-margin-end: 15px;
      -moz-margin-end: 15px;
      -o-margin-end: 15px;
      margin-left: 15px;
      -webkit-margin-start: 15px;
      -moz-margin-start: 15px;
      -o-margin-start: 15px;
      border-top-style: none;
      border-bottom-style: none; }
    .container .main-navbar {
      margin-bottom: 0 !important;
      -webkit-margin-after: 0 !important;
      background-color: #fff; }
      .container .main-navbar .container-fluid, .container .main-navbar .navbar-collapse {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
    .container .footer-about-us {
      margin-top: 0 !important;
      -webkit-margin-before: 0 !important; }
    .container .col-xs-12 {
      padding-left: 3px;
      -webkit-padding-start: 3px;
      -moz-padding-start: 3px;
      -o-padding-start: 3px;
      padding-right: 3px;
      -webkit-padding-end: 3px;
      -moz-padding-end: 3px;
      -o-padding-end: 3px;
      margin-bottom: 0;
      -webkit-margin-after: 0;
      padding-top: 0;
      -webkit-padding-before: 0; }
      .container .col-xs-12 .pull-right {
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
      .container .col-xs-12 .pull-left {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0; }
      .container .col-xs-12 table {
        border-style: none; }
    .container .sumarry {
      padding-top: 5px;
      -webkit-padding-before: 5px; }
    .container .panel-default {
      margin-bottom: 5px;
      -webkit-margin-after: 5px; }
      .container .panel-default .list-smartphone-body {
        padding: 5px; }
    .container .navbar-static-bottom {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
      .container .navbar-static-bottom .footer-ways-to-read {
        border-right-style: solid !important; }
      .container .navbar-static-bottom .footer-subscribe .subscribe, .container .navbar-static-bottom .footer-subscribe .col-xs-12 {
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0;
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0; }
      .container .navbar-static-bottom .footer-subscribe .footer-titles {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0; }
      .container .navbar-static-bottom .footer-about-us {
        margin-bottom: 5px !important;
        -webkit-margin-after: 5px !important; }
        .container .navbar-static-bottom .footer-about-us h4 {
          padding-left: 0;
          -webkit-padding-start: 0;
          -moz-padding-start: 0;
          -o-padding-start: 0; }
        .container .navbar-static-bottom .footer-about-us ul.list-group {
          padding-left: 0;
          -webkit-padding-start: 0;
          -moz-padding-start: 0;
          -o-padding-start: 0; }
      .container .navbar-static-bottom .footer-about-us, .container .navbar-static-bottom .footer-subscribe {
        height: 100% !important;
        border: 1px solid #ddd;
        padding-left: 15px;
        -webkit-padding-start: 15px;
        -moz-padding-start: 15px;
        -o-padding-start: 15px;
        padding-right: 15px;
        -webkit-padding-end: 15px;
        -moz-padding-end: 15px;
        -o-padding-end: 15px;
        padding-top: 5px;
        -webkit-padding-before: 5px;
        padding-bottom: 5px;
        -webkit-padding-after: 5px; }
        .container .navbar-static-bottom .footer-about-us .list-group-item, .container .navbar-static-bottom .footer-subscribe .list-group-item {
          padding-right: 0;
          -webkit-padding-end: 0;
          -moz-padding-end: 0;
          -o-padding-end: 0;
          padding-left: 0;
          -webkit-padding-start: 0;
          -moz-padding-start: 0;
          -o-padding-start: 0; }

  .main-content {
    margin-top: 5px;
    -webkit-margin-before: 5px;
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
    .main-content .search .visible-xs .col-xs-6:nth-child(1) {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0; }
    .main-content .search .visible-xs .col-xs-6:nth-child(2) {
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .search .visible-xs .media {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .search .visible-xs .comic-image {
      width: 100%;
      height: 100%; }
    .main-content .search .visible-xs .search-content {
      padding-top: 15px;
      -webkit-padding-before: 15px;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0;
      padding-left: 0 !important;
      -webkit-padding-start: 0 !important;
      -moz-padding-start: 0 !important;
      -o-padding-start: 0 !important; }
    .main-content #myCarousel, .main-content .carousel-inner, .main-content .item, .main-content img {
      height: 200px; }
      .main-content #myCarousel img, .main-content .carousel-inner img, .main-content .item img, .main-content img img {
        object-fit: cover; }
    .main-content #myCarousel .carousel-indicators {
      bottom: -5px; }
    .main-content #myCarousel .carousel-control {
      width: 7%; }
    .main-content .col-sm-9 #carouselItems, .main-content .col-sm-9 #carouselItems2, .main-content .col-sm-9 #carouselItems3 {
      /* Container */
      /* Carousel Control */ }
      .main-content .col-sm-9 #carouselItems img, .main-content .col-sm-9 #carouselItems2 img, .main-content .col-sm-9 #carouselItems3 img {
        max-width: 100%; }
      .main-content .col-sm-9 #carouselItems a, .main-content .col-sm-9 #carouselItems2 a, .main-content .col-sm-9 #carouselItems3 a {
        -webkit-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease; }
        .main-content .col-sm-9 #carouselItems a:hover, .main-content .col-sm-9 #carouselItems2 a:hover, .main-content .col-sm-9 #carouselItems3 a:hover {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          filter: alpha(opacity=50);
          opacity: 0.6;
          text-decoration: none; }
      .main-content .col-sm-9 #carouselItems .active, .main-content .col-sm-9 #carouselItems .carousel-inner, .main-content .col-sm-9 #carouselItems2 .active, .main-content .col-sm-9 #carouselItems2 .carousel-inner, .main-content .col-sm-9 #carouselItems3 .active, .main-content .col-sm-9 #carouselItems3 .carousel-inner {
        height: 100%; }
      .main-content .col-sm-9 #carouselItems .container-fluid, .main-content .col-sm-9 #carouselItems2 .container-fluid, .main-content .col-sm-9 #carouselItems3 .container-fluid {
        background: #FFFFFF;
        margin: 40px auto 10px;
        padding: 20px 40px 0;
        max-width: 960px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
      .main-content .col-sm-9 #carouselItems .page-header, .main-content .col-sm-9 #carouselItems2 .page-header, .main-content .col-sm-9 #carouselItems3 .page-header {
        background: #f9f9f9;
        margin: -30px -40px 40px;
        padding: 20px 40px;
        border-top: 4px solid #ccc;
        color: #999;
        text-transform: uppercase; }
        .main-content .col-sm-9 #carouselItems .page-header h3, .main-content .col-sm-9 #carouselItems2 .page-header h3, .main-content .col-sm-9 #carouselItems3 .page-header h3 {
          line-height: 0.88rem;
          color: #000; }
      .main-content .col-sm-9 #carouselItems .caption h4, .main-content .col-sm-9 #carouselItems2 .caption h4, .main-content .col-sm-9 #carouselItems3 .caption h4 {
        font-size: 1rem;
        color: #444; }
        .main-content .col-sm-9 #carouselItems .caption h4 p, .main-content .col-sm-9 #carouselItems2 .caption h4 p, .main-content .col-sm-9 #carouselItems3 .caption h4 p {
          font-size: 0.75rem;
          color: #999; }
          .main-content .col-sm-9 #carouselItems .caption h4 p .btn.btn-mini, .main-content .col-sm-9 #carouselItems2 .caption h4 p .btn.btn-mini, .main-content .col-sm-9 #carouselItems3 .caption h4 p .btn.btn-mini {
            font-size: 0.63rem; }
      .main-content .col-sm-9 #carouselItems .control-box, .main-content .col-sm-9 #carouselItems2 .control-box, .main-content .col-sm-9 #carouselItems3 .control-box {
        text-align: right;
        width: 100%;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0;
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0; }
        .main-content .col-sm-9 #carouselItems .control-box .carousel-control, .main-content .col-sm-9 #carouselItems2 .control-box .carousel-control, .main-content .col-sm-9 #carouselItems3 .control-box .carousel-control {
          background: #666;
          border: 0px;
          border-radius: 0px;
          display: inline-block;
          font-size: 34px;
          font-weight: 200;
          line-height: 18px;
          opacity: 0.5;
          padding: 0;
          position: static;
          height: 25px;
          width: 30px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(1) {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(2) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(3) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(4) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(5) {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(6) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(7) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3:nth-child(8) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .thumbnail {
      padding: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      margin-bottom: 0;
      -webkit-margin-after: 0; }
      .main-content .col-sm-9 .new-books .thumbnail img {
        height: 120px;
        object-fit: initial; }
    .main-content .col-sm-9 .trending-books {
      margin-top: 10px;
      -webkit-margin-before: 10px; }
      .main-content .col-sm-9 .trending-books .left {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
      .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(1), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(1), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(1) {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        padding-right: 5px;
        -webkit-padding-end: 5px;
        -moz-padding-end: 5px;
        -o-padding-end: 5px;
        margin-bottom: 5px;
        -webkit-margin-after: 5px; }
      .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(2), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(2), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(2) {
        padding-left: 5px;
        -webkit-padding-start: 5px;
        -moz-padding-start: 5px;
        -o-padding-start: 5px;
        padding-right: 5px;
        -webkit-padding-end: 5px;
        -moz-padding-end: 5px;
        -o-padding-end: 5px;
        margin-bottom: 5px;
        -webkit-margin-after: 5px; }
      .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(3), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(3), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(3) {
        padding-left: 5px;
        -webkit-padding-start: 5px;
        -moz-padding-start: 5px;
        -o-padding-start: 5px;
        padding-right: 5px;
        -webkit-padding-end: 5px;
        -moz-padding-end: 5px;
        -o-padding-end: 5px;
        margin-bottom: 5px;
        -webkit-margin-after: 5px; }
      .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(4), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(4), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(4) {
        padding-left: 5px;
        -webkit-padding-start: 5px;
        -moz-padding-start: 5px;
        -o-padding-start: 5px;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0;
        margin-bottom: 5px;
        -webkit-margin-after: 5px; }
      .main-content .col-sm-9 .trending-books #carouselItems .thumbnail, .main-content .col-sm-9 .trending-books .trending-comics .thumbnail, .main-content .col-sm-9 .trending-books .sales .thumbnail {
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        margin-bottom: 0;
        -webkit-margin-after: 0; }
        .main-content .col-sm-9 .trending-books #carouselItems .thumbnail img, .main-content .col-sm-9 .trending-books .trending-comics .thumbnail img, .main-content .col-sm-9 .trending-books .sales .thumbnail img {
          height: 120px;
          object-fit: initial; }
    .main-content .col-sm-9 .trending-comics .left {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(1) {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
    .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(2) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
    .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(3) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
    .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(4) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .col-sm-9 .trending-comics #carouselItems2 .thumbnail {
      padding: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
      .main-content .col-sm-9 .trending-comics #carouselItems2 .thumbnail img {
        height: 120px;
        object-fit: initial; }
    .main-content .col-sm-9 .sales .left {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(1) {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
    .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(2) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
    .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(3) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px; }
    .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(4) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .col-sm-9 .sales #carouselItems3 .thumbnail {
      padding: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
      .main-content .col-sm-9 .sales #carouselItems3 .thumbnail img {
        height: 120px;
        object-fit: initial; }
    .main-content .col-sm-3 .col-xs-6 {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0; }

  /*# FOOTER # */
  .navbar-static-bottom .footer-about-us, .navbar-static-bottom .footer-more, .navbar-static-bottom .footer-subscribe {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
  .navbar-static-bottom .footer-about-us, .navbar-static-bottom .footer-more, .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-subscribe {
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0;
    border: 1px solid #ddd; }
    .navbar-static-bottom .footer-about-us .footer-titles, .navbar-static-bottom .footer-more .footer-titles, .navbar-static-bottom .footer-ways-to-read .footer-titles, .navbar-static-bottom .footer-subscribe .footer-titles {
      padding: 10px 15px; }
    .navbar-static-bottom .footer-about-us ul.list-group, .navbar-static-bottom .footer-more ul.list-group, .navbar-static-bottom .footer-ways-to-read ul.list-group, .navbar-static-bottom .footer-subscribe ul.list-group {
      margin-top: 0;
      -webkit-margin-before: 0;
      padding-left: 10px;
      -webkit-padding-start: 10px;
      -moz-padding-start: 10px;
      -o-padding-start: 10px;
      padding-right: 10px;
      -webkit-padding-end: 10px;
      -moz-padding-end: 10px;
      -o-padding-end: 10px; }
      .navbar-static-bottom .footer-about-us ul.list-group li, .navbar-static-bottom .footer-more ul.list-group li, .navbar-static-bottom .footer-ways-to-read ul.list-group li, .navbar-static-bottom .footer-subscribe ul.list-group li {
        list-style-type: none; }
  .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-subscribe, .navbar-static-bottom .footer-more, .navbar-static-bottom .footer-about-us {
    height: 145px;
    margin-bottom: 0;
    -webkit-margin-after: 0; }
  .navbar-static-bottom .footer-about-us, .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-more {
    border-right-style: hidden; }
  .navbar-static-bottom .footer-about-us {
    margin-bottom: 10px;
    -webkit-margin-after: 10px;
    background-color: #0cbda4; }
    .navbar-static-bottom .footer-about-us .footer-titles {
      color: white; }
    .navbar-static-bottom .footer-about-us .list-group .list-group-item {
      background-color: #0cbda4;
      color: white; }
    .navbar-static-bottom .footer-about-us .list-group a li:hover {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      color: blue; }
  .navbar-static-bottom .footer-more {
    margin-bottom: 5px;
    -webkit-margin-after: 5px;
    background-color: #0cbda4; }
    .navbar-static-bottom .footer-more .footer-titles {
      color: white; }
    .navbar-static-bottom .footer-more .list-group .list-group-item {
      background-color: #0cbda4;
      color: white; }
    .navbar-static-bottom .footer-more .list-group a li:hover {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      color: blue; }
  .navbar-static-bottom .footer-subscribe {
    padding: 10px 15px;
    margin-bottom: 10px;
    -webkit-margin-after: 10px;
    background-color: #0cbda4; }
    .navbar-static-bottom .footer-subscribe h4, .navbar-static-bottom .footer-subscribe h5, .navbar-static-bottom .footer-subscribe a {
      color: white; }
    .navbar-static-bottom .footer-subscribe a:hover {
      color: blue; }

  /*pagination */
  .pager {
    margin: 0;
    position: initial; }

  .pager li > a, .pager li > span {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 7px; }

  .my-active span {
    background-color: #cdc9c9 !important;
    color: white !important;
    border-color: #7d7d7d !important; }

  .panel-body-15 {
    padding-right: 15px;
    -webkit-padding-end: 15px;
    -moz-padding-end: 15px;
    -o-padding-end: 15px;
    padding-left: 15px;
    -webkit-padding-start: 15px;
    -moz-padding-start: 15px;
    -o-padding-start: 15px; }

  h4 {
    padding: 0; }

  .list-filter {
    padding-top: 5px;
    -webkit-padding-before: 5px; }

  /* FOR BOOK DETAIL */
  .book_detail .left {
    margin-top: 15px;
    -webkit-margin-before: 15px; }
    .book_detail .left #description #book_desc, .book_detail .left #description #book_author, .book_detail .left #description #book_publisher, .book_detail .left #description #book_release, .book_detail .left #author #book_desc, .book_detail .left #author #book_author, .book_detail .left #author #book_publisher, .book_detail .left #author #book_release, .book_detail .left #publisher #book_desc, .book_detail .left #publisher #book_author, .book_detail .left #publisher #book_publisher, .book_detail .left #publisher #book_release, .book_detail .left #release #book_desc, .book_detail .left #release #book_author, .book_detail .left #release #book_publisher, .book_detail .left #release #book_release {
      margin-bottom: 5px;
      -webkit-margin-after: 5px;
      font-weight: bold;
      color: #ae2b26; }
    .book_detail .left #author, .book_detail .left #publisher, .book_detail .left #release {
      margin-top: 10px;
      -webkit-margin-before: 10px; }
  .book_detail a .right #outer-thumb {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
    .book_detail a .right #outer-thumb .thumbnail {
      padding: 0;
      margin-bottom: 0;
      -webkit-margin-after: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0; }
      .book_detail a .right #outer-thumb .thumbnail img {
        width: 100%; }
  .book_detail a .right #outer-content #title #book_title {
    margin-bottom: 5px;
    -webkit-margin-after: 5px;
    font-weight: bold;
    color: #ae2b26; }
  .book_detail a .right #outer-content .btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: 2px solid #ddd;
    font-weight: bold;
    padding-right: 15px;
    -webkit-padding-end: 15px;
    -moz-padding-end: 15px;
    -o-padding-end: 15px; }
  .book_detail .full #outer-thumb {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
    .book_detail .full #outer-thumb .thumbnail {
      padding: 0;
      margin-bottom: 15px;
      -webkit-margin-after: 15px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0; }
      .book_detail .full #outer-thumb .thumbnail img {
        width: 100%;
        height: 100%; }
  .book_detail .full .col-xs-7 {
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
    .book_detail .full .col-xs-7 #description, .book_detail .full .col-xs-7 #author, .book_detail .full .col-xs-7 #publisher, .book_detail .full .col-xs-7 #release, .book_detail .full .col-xs-7 #title {
      margin-bottom: 5px;
      -webkit-margin-after: 5px; }
      .book_detail .full .col-xs-7 #description #comic_desc, .book_detail .full .col-xs-7 #description #comic_author, .book_detail .full .col-xs-7 #description #comic_publisher, .book_detail .full .col-xs-7 #description #comic_release, .book_detail .full .col-xs-7 #description #comic_title, .book_detail .full .col-xs-7 #author #comic_desc, .book_detail .full .col-xs-7 #author #comic_author, .book_detail .full .col-xs-7 #author #comic_publisher, .book_detail .full .col-xs-7 #author #comic_release, .book_detail .full .col-xs-7 #author #comic_title, .book_detail .full .col-xs-7 #publisher #comic_desc, .book_detail .full .col-xs-7 #publisher #comic_author, .book_detail .full .col-xs-7 #publisher #comic_publisher, .book_detail .full .col-xs-7 #publisher #comic_release, .book_detail .full .col-xs-7 #publisher #comic_title, .book_detail .full .col-xs-7 #release #comic_desc, .book_detail .full .col-xs-7 #release #comic_author, .book_detail .full .col-xs-7 #release #comic_publisher, .book_detail .full .col-xs-7 #release #comic_release, .book_detail .full .col-xs-7 #release #comic_title, .book_detail .full .col-xs-7 #title #comic_desc, .book_detail .full .col-xs-7 #title #comic_author, .book_detail .full .col-xs-7 #title #comic_publisher, .book_detail .full .col-xs-7 #title #comic_release, .book_detail .full .col-xs-7 #title #comic_title {
        font-weight: bold;
        color: #ae2b26; }
  .book_detail .full .accordion-toggle {
    background-color: transparent; }

  /* END FOR BOOK DETAIL */
  /* READ BOOK / EPUB */
  .readbook #main {
    width: 100%;
    height: 100%; }
    .readbook #main #area {
      width: 100%;
      height: 400px;
      margin: 5px auto; }
    .readbook #main .calibre_8, .readbook #main .calibre_7 {
      width: 100%;
      height: 100%; }
    .readbook #main #area iframe {
      border: none; }
    .readbook #main #prev {
      left: 40px; }
    .readbook #main #next {
      right: 40px; }
    .readbook #main #loader {
      position: absolute;
      top: 33%;
      left: 30%; }
    .readbook #main #toc {
      float: right; }
    .readbook #main .arrow {
      position: absolute;
      top: 50%;
      margin-top: -32px;
      -webkit-margin-before: -32px;
      font-size: 50px;
      color: #E2E2E2;
      font-family: arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none; }
      .readbook #main .arrow:hover {
        color: #777; }
      .readbook #main .arrow:active {
        color: #000; }

  /* READ BOOK / EPUB */
  /* READ COMIC */
  .read-comic .pick .right {
    position: absolute; }
    .read-comic .pick .right .add-fav {
      padding-right: 15px;
      -webkit-padding-end: 15px;
      -moz-padding-end: 15px;
      -o-padding-end: 15px; }
  .read-comic .comic img {
    height: 100%; }
  .read-comic .pager #next {
    margin-top: 4px;
    -webkit-margin-before: 4px; }

  /* END READ COMIC */ }
@media (max-device-width: 767px) and (orientation: portrait) {
  /*# MAIN CONTENT # */
  .img-comic-standard {
    height: 110px !important; }

  .main-content #myCarousel, .main-content .carousel-inner, .main-content .item, .main-content img {
    height: 140px; }
    .main-content #myCarousel img, .main-content .carousel-inner img, .main-content .item img, .main-content img img {
      object-fit: cover; }
  .main-content #myCarousel .carousel-indicators {
    bottom: -5px; }
  .main-content #myCarousel .carousel-control {
    width: 7%; }
  .main-content .col-sm-9 .trending-books {
    margin-top: 10px;
    -webkit-margin-before: 10px; }
    .main-content .col-sm-9 .trending-books .left {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
    .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(1), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(1), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(1) {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(2), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(2), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(2) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(3), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(3), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(3) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 5px;
      -webkit-padding-end: 5px;
      -moz-padding-end: 5px;
      -o-padding-end: 5px;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3:nth-child(4), .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3:nth-child(4), .main-content .col-sm-9 .trending-books .sales .col-xs-3:nth-child(4) {
      padding-left: 5px;
      -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0;
      margin-bottom: 10px;
      -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3, .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3, .main-content .col-sm-9 .trending-books .sales .col-xs-3 {
      margin-bottom: 0;
      -webkit-margin-after: 0; }
      .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3 .thumbnail, .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3 .thumbnail, .main-content .col-sm-9 .trending-books .sales .col-xs-3 .thumbnail {
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        margin-bottom: 0;
        -webkit-margin-after: 0; }
        .main-content .col-sm-9 .trending-books #carouselItems .col-xs-3 .thumbnail img, .main-content .col-sm-9 .trending-books .trending-comics .col-xs-3 .thumbnail img, .main-content .col-sm-9 .trending-books .sales .col-xs-3 .thumbnail img {
          height: 85px;
          object-fit: initial; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(1) {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(2) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(3) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(4) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(5) {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(6) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(7) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .new-books .col-xs-3:nth-child(8) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
  .main-content .col-sm-9 .new-books .col-xs-3 {
    margin-bottom: 10px;
    -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .new-books .col-xs-3 .thumbnail {
      padding: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      margin-bottom: 0;
      -webkit-margin-after: 0; }
      .main-content .col-sm-9 .new-books .col-xs-3 .thumbnail img {
        height: 85px;
        object-fit: initial; }
  .main-content .col-sm-9 .trending-comics .left {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
  .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(1) {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(2) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(3) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .trending-comics #carouselItems2 .col-xs-3:nth-child(4) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
  .main-content .col-sm-9 .trending-comics #carouselItems2 .thumbnail {
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 10px;
    -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .trending-comics #carouselItems2 .thumbnail img {
      height: 85px;
      object-fit: initial; }
  .main-content .col-sm-9 .sales .left {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
  .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(1) {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(2) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(3) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px; }
  .main-content .col-sm-9 .sales #carouselItems3 .col-xs-3:nth-child(4) {
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
  .main-content .col-sm-9 .sales #carouselItems3 .thumbnail {
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 10px;
    -webkit-margin-after: 10px; }
    .main-content .col-sm-9 .sales #carouselItems3 .thumbnail img {
      height: 85px;
      object-fit: initial; }
  .main-content .col-sm-3 .panel-body ul.col-sm-6, .main-content .col-sm-3 .panel-body ul.col-sm-12 {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
  .main-content .col-sm-3 .col-xs-6 {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
  .main-content .list-smartphone-heading {
    height: 45px; }
    .main-content .list-smartphone-heading .right {
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
  .main-content .list-smartphone-body {
    padding: 0;
    border-style: hidden;
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px;
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    padding-bottom: 10px;
    -webkit-padding-after: 10px; }
    .main-content .list-smartphone-body .table-responsive {
      border-style: none; }
  .main-content .home-xs .col-xs-4 {
    padding-right: 5px;
    -webkit-padding-end: 5px;
    -moz-padding-end: 5px;
    -o-padding-end: 5px;
    padding-left: 5px;
    -webkit-padding-start: 5px;
    -moz-padding-start: 5px;
    -o-padding-start: 5px;
    height: 185px; }

  .single-comic .sub-1 {
    margin-bottom: 5px;
    -webkit-margin-after: 5px; }

  /* FOR BOOK DETAIL */
  .book_detail .left {
    margin-top: 15px;
    -webkit-margin-before: 15px; }
    .book_detail .left #description #book_desc, .book_detail .left #description #book_author, .book_detail .left #description #book_publisher, .book_detail .left #description #book_release, .book_detail .left #author #book_desc, .book_detail .left #author #book_author, .book_detail .left #author #book_publisher, .book_detail .left #author #book_release, .book_detail .left #publisher #book_desc, .book_detail .left #publisher #book_author, .book_detail .left #publisher #book_publisher, .book_detail .left #publisher #book_release, .book_detail .left #release #book_desc, .book_detail .left #release #book_author, .book_detail .left #release #book_publisher, .book_detail .left #release #book_release {
      margin-bottom: 5px;
      -webkit-margin-after: 5px;
      font-weight: bold;
      color: #ae2b26; }
    .book_detail .left #author, .book_detail .left #publisher, .book_detail .left #release {
      margin-top: 10px;
      -webkit-margin-before: 10px; }
  .book_detail a .right #outer-thumb {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
    .book_detail a .right #outer-thumb .thumbnail {
      padding: 0;
      margin-bottom: 0;
      -webkit-margin-after: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0; }
      .book_detail a .right #outer-thumb .thumbnail img {
        width: 100%; }
  .book_detail a .right #outer-content {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
    .book_detail a .right #outer-content #title #book_title {
      margin-bottom: 5px;
      -webkit-margin-after: 5px;
      font-weight: bold;
      color: #ae2b26; }
    .book_detail a .right #outer-content .btn {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border: 2px solid #ddd;
      font-weight: bold;
      padding-right: 15px;
      -webkit-padding-end: 15px;
      -moz-padding-end: 15px;
      -o-padding-end: 15px; }
  .book_detail .full #outer-thumb {
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0;
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }

  /* END FOR BOOK DETAIL */
  /* READ BOOK / EPUB */
  .readbook #main {
    width: 100%;
    height: 100%; }
    .readbook #main #area {
      width: 100%;
      height: 350px;
      margin: 5px auto; }
    .readbook #main .calibre_8, .readbook #main .calibre_7 {
      width: 100%;
      height: 100%; }
    .readbook #main #area iframe {
      border: none; }
    .readbook #main #prev {
      left: 40px; }
    .readbook #main #next {
      right: 40px; }
    .readbook #main #loader {
      position: absolute;
      top: 33%;
      left: 30%; }
    .readbook #main #toc {
      float: right; }
    .readbook #main .arrow {
      position: absolute;
      top: 50%;
      margin-top: -32px;
      -webkit-margin-before: -32px;
      font-size: 50px;
      color: #E2E2E2;
      font-family: arial, sans-serif;
      font-weight: bold;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none; }
      .readbook #main .arrow:hover {
        color: #777; }
      .readbook #main .arrow:active {
        color: #000; }

  /* READ BOOK / EPUB */
  /* READ COMIC */
  .read-comic .pick .right {
    position: relative; }
    .read-comic .pick .right .add-fav {
      padding-right: 15px;
      -webkit-padding-end: 15px;
      -moz-padding-end: 15px;
      -o-padding-end: 15px; }
  .read-comic .pick .left .pull-left {
    float: right !important; }
  .read-comic .pick .left .pick-chapter {
    margin-bottom: 5px;
    -webkit-margin-after: 5px; }
  .read-comic .comic img {
    height: 100%; }
  .read-comic .pager #next {
    margin-top: 4px;
    -webkit-margin-before: 4px; }

  /* END READ COMIC */ }

/*# sourceMappingURL=smartphone-responsive.css.map */
