/* ======================================== */
/* 		STYLE FOR KAIGAN WEB PROJECT		 */
/* ======================================== */
/* Author	: Arief Budi Prasetyo			 */
/* Version	: 1.0							 */
/* Email	: Arief.Prasetyo911@gmail.com	 */
/* ======================================== */
/* 		STYLE FOR KAIGAN WEB PROJECT		 */
/* ======================================== */
/* ======================================== */
/* 		MIXIN FOR KAIGAN WEB PROJECT		 */
/* ======================================== */
/* Author	: Arief Budi Prasetyo			 */
/* Version	: 1.0							 */
/* Email	: Arief.Prasetyo911@gmail.com	 */
/* ======================================== */
/* 		MIXIN FOR KAIGAN WEB PROJECT		 */
/* ======================================== */
/* PADDING TOP */
/* PADDING BOTTOM */
/* PADDING LEFT */
/* PADDING RIGHT */
/* MARGIN TOP */
/* MARGIN BOTTOM */
/* MARGIN LEFT */
/* MARGIN RIGHT */
/* BORDER-RADIUS */
/*# COLOR # */
/* # GENERAL SETTING# */
body {
  font-size: 14px;
  font-weight: normal; }

nav, header, main, article, section, aside, footer {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

#active {
  font-weight: bold; }

.nav a, .list-group a, .col-md-2 a, .social-media a {
  color: black; }
  .nav a:hover, .list-group a:hover, .col-md-2 a:hover, .social-media a:hover {
    color: #6495ed;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }

.nav > li > a {
  padding-left: 20px;
  -webkit-padding-start: 20px;
  -moz-padding-start: 20px;
  -o-padding-start: 20px;
  padding-right: 20px;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -o-padding-end: 20px; }
  .nav > li > a:hover {
    color: #6495ed !important;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }

li.need-divider ~ li.need-divider {
  border-left: 1px solid #212121; }

li.need-divider:last-child {
  border-right: 1px solid #212121; }

.dropdown-hover-color {
  background-color: #353535; }

.slide .carousel-indicators {
  bottom: -35px; }
.slide .carousel-inner img {
  width: 100%;
  object-fit: cover; }

#myCarousel .carousel-inner {
  height: 350px; }
  #myCarousel .carousel-inner a img {
    width: 100%;
    height: 350px; }

.carousel-control {
  width: 5%; }

.list-group {
  margin-top: 5px;
  -webkit-margin-before: 5px;
  margin-bottom: 0;
  -webkit-margin-after: 0; }
  .list-group a {
    color: black; }
    .list-group a li {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border-style: hidden;
      padding: 5px; }
      .list-group a li:hover {
        color: blue; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: #23527c;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }

input, .input-group {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0; }

.breadcrumb {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent;
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0; }

.top-image {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 15px;
  -webkit-margin-after: 15px; }
  .top-image img {
    width: 100%;
    height: 250px;
    object-fit: cover; }

.panel-default {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 10px;
  -webkit-margin-after: 10px; }

.container .jumbotron, .container-fluid .jumbotron {
  padding: 0; }

/* # END GENERAL SETTING# */
/*# START FROM CONTAINER MASTER-HOME# */
.container .navbar-default {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 0;
  -webkit-margin-after: 0; }
.container .top-navbar {
  height: 70px;
  background-color: transparent;
  border-style: hidden; }
  .container .top-navbar .container-fluid {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
    .container .top-navbar .container-fluid .navbar-brand {
      padding-top: 30px;
      -webkit-padding-before: 30px; }
    .container .top-navbar .container-fluid .navbar-collapse {
      padding-top: 15px;
      -webkit-padding-before: 15px;
      padding-bottom: 15px;
      -webkit-padding-after: 15px; }
      .container .top-navbar .container-fluid .navbar-collapse .navbar-right {
        padding-top: 15px;
        -webkit-padding-before: 15px; }
      .container .top-navbar .container-fluid .navbar-collapse .navbar-nav > li > a {
        padding-bottom: 0;
        -webkit-padding-after: 0;
        padding-top: 0;
        -webkit-padding-before: 0; }
.container .main-navbar {
  background-color: #404040;
  height: 40px;
  margin-bottom: 10px;
  -webkit-margin-after: 10px; }
  .container .main-navbar .container-fluid {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
    .container .main-navbar .container-fluid #navbar-menu {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }
      .container .main-navbar .container-fluid #navbar-menu .col-md-7 {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        font-weight: bold; }
        .container .main-navbar .container-fluid #navbar-menu .col-md-7 .active {
          background-color: #353535;
          color: white;
          height: 40px; }
        .container .main-navbar .container-fluid #navbar-menu .col-md-7 .dropdown .dropdown-menu {
          background-color: #353535;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -o-border-radius: 0; }
          .container .main-navbar .container-fluid #navbar-menu .col-md-7 .dropdown .dropdown-menu li a:hover {
            background-color: #008b8b; }
        .container .main-navbar .container-fluid #navbar-menu .col-md-7 a {
          color: white;
          height: 40px;
          padding-top: 10px;
          -webkit-padding-before: 10px; }
          .container .main-navbar .container-fluid #navbar-menu .col-md-7 a:hover {
            color: white !important;
            background-color: #353535; }
      .container .main-navbar .container-fluid #navbar-menu .col-md-5 .navbar-form {
        margin-top: 5px;
        -webkit-margin-before: 5px; }
      .container .main-navbar .container-fluid #navbar-menu .col-md-5 .navbar-right, .container .main-navbar .container-fluid #navbar-menu .col-md-5 #searchinput {
        width: 100%; }
        .container .main-navbar .container-fluid #navbar-menu .col-md-5 .navbar-right .col-md-12, .container .main-navbar .container-fluid #navbar-menu .col-md-5 #searchinput .col-md-12 {
          padding-right: 0;
          -webkit-padding-end: 0;
          -moz-padding-end: 0;
          -o-padding-end: 0;
          padding-left: 0;
          -webkit-padding-start: 0;
          -moz-padding-start: 0;
          -o-padding-start: 0; }

/*# MAIN CONTENT # */
.main-content {
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  display: flex; }
  .main-content .col-md-9 {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0;
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
    .main-content .col-md-9 .col-md-12 {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0;
      padding-top: 5px;
      -webkit-padding-before: 5px;
      padding-bottom: 5px;
      -webkit-padding-after: 5px; }
      .main-content .col-md-9 .col-md-12 .media {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        padding-right: 5px;
        -webkit-padding-end: 5px;
        -moz-padding-end: 5px;
        -o-padding-end: 5px; }
        .main-content .col-md-9 .col-md-12 .media .comic-image {
          object-fit: cover;
          width: 100%; }
      .main-content .col-md-9 .col-md-12 .contents {
        padding-left: 5px;
        -webkit-padding-start: 5px;
        -moz-padding-start: 5px;
        -o-padding-start: 5px;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
  .main-content .col-md-3 {
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0; }
    .main-content .col-md-3 .panel-heading {
      display: flow-root; }
    .main-content .col-md-3 .col-md-12 {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0;
      padding-bottom: 10px;
      -webkit-padding-after: 10px; }
      .main-content .col-md-3 .col-md-12 .media {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
        .main-content .col-md-3 .col-md-12 .media .media-object {
          height: 85px;
          width: 100%; }
      .main-content .col-md-3 .col-md-12 .teks {
        padding-left: 10px;
        -webkit-padding-start: 10px;
        -moz-padding-start: 10px;
        -o-padding-start: 10px;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
        .main-content .col-md-3 .col-md-12 .teks .comic-title {
          font-weight: bold;
          margin-bottom: 10px;
          -webkit-margin-after: 10px; }

/*# FOOTER # */
.navbar-static-bottom {
  display: block; }
  .navbar-static-bottom .footer-about-us, .navbar-static-bottom .footer-more, .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-subscribe {
    padding-left: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -o-padding-start: 0; }
  .navbar-static-bottom .footer-about-us, .navbar-static-bottom .footer-more, .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-subscribe {
    padding-right: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -o-padding-end: 0;
    border: 1px solid #ddd; }
    .navbar-static-bottom .footer-about-us .footer-titles, .navbar-static-bottom .footer-more .footer-titles, .navbar-static-bottom .footer-ways-to-read .footer-titles, .navbar-static-bottom .footer-subscribe .footer-titles {
      padding: 10px 15px; }
    .navbar-static-bottom .footer-about-us ul, .navbar-static-bottom .footer-more ul, .navbar-static-bottom .footer-ways-to-read ul, .navbar-static-bottom .footer-subscribe ul {
      padding-left: 15px;
      -webkit-padding-start: 15px;
      -moz-padding-start: 15px;
      -o-padding-start: 15px; }
      .navbar-static-bottom .footer-about-us ul li, .navbar-static-bottom .footer-more ul li, .navbar-static-bottom .footer-ways-to-read ul li, .navbar-static-bottom .footer-subscribe ul li {
        list-style-type: none;
        line-height: 2em; }
  .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-subscribe, .navbar-static-bottom .footer-ways-to-read, .navbar-static-bottom .footer-about-us {
    height: 163px; }
  .navbar-static-bottom .footer-about-us, .navbar-static-bottom .footer-ways-to-read {
    border-right-style: hidden; }
  .navbar-static-bottom .footer-subscribe p {
    padding-left: 15px;
    -webkit-padding-start: 15px;
    -moz-padding-start: 15px;
    -o-padding-start: 15px;
    padding-right: 15px;
    -webkit-padding-end: 15px;
    -moz-padding-end: 15px;
    -o-padding-end: 15px;
    padding-bottom: 5px;
    -webkit-padding-after: 5px; }
  .navbar-static-bottom .footer-subscribe .col-md-12 {
    padding-bottom: 5px;
    -webkit-padding-after: 5px; }
    .navbar-static-bottom .footer-subscribe .col-md-12 .col-md-8 {
      padding-left: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      padding-right: 0;
      -webkit-padding-end: 0;
      -moz-padding-end: 0;
      -o-padding-end: 0; }

.navbar-static-bottom-2, .col-md-6 {
  display: inline-block;
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0;
  margin-bottom: 0;
  -webkit-margin-after: 0; }
  .navbar-static-bottom-2 .pull-left, .navbar-static-bottom-2 .social-media, .col-md-6 .pull-left, .col-md-6 .social-media {
    padding-top: 5px;
    -webkit-padding-before: 5px;
    padding-bottom: 5px;
    -webkit-padding-after: 5px;
    display: inline-block; }

/*# END FROM CONTAINER MASTER-HOME# */
/*# NEW COMICS # */
.new-comics {
  display: block; }
  .new-comics .panel-default {
    margin-top: 10px;
    -webkit-margin-before: 10px; }
    .new-comics .panel-default .panel-heading {
      padding-left: 15px;
      -webkit-padding-start: 15px;
      -moz-padding-start: 15px;
      -o-padding-start: 15px;
      padding-right: 15px;
      -webkit-padding-end: 15px;
      -moz-padding-end: 15px;
      -o-padding-end: 15px;
      background-color: transparent; }
      .new-comics .panel-default .panel-heading #add-all-to-cart {
        padding-right: 15px;
        -webkit-padding-end: 15px;
        -moz-padding-end: 15px;
        -o-padding-end: 15px; }
      .new-comics .panel-default .panel-heading a {
        color: black; }
        .new-comics .panel-default .panel-heading a:hover {
          color: #6495ed;
          text-decoration: none; }
    .new-comics .panel-default .panel-body .col-md-2 {
      padding-left: 3px;
      -webkit-padding-start: 3px;
      -moz-padding-start: 3px;
      -o-padding-start: 3px;
      padding-right: 3px;
      -webkit-padding-end: 3px;
      -moz-padding-end: 3px;
      -o-padding-end: 3px; }
      .new-comics .panel-default .panel-body .col-md-2 .thumbnail {
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        height: 410px;
        margin-bottom: 0;
        -webkit-margin-after: 0;
        border-style: hidden; }
        .new-comics .panel-default .panel-body .col-md-2 .thumbnail img {
          height: 285px;
          width: 100%; }
      .new-comics .panel-default .panel-body .col-md-2 .caption {
        padding-left: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        -o-padding-start: 0;
        padding-right: 0;
        -webkit-padding-end: 0;
        -moz-padding-end: 0;
        -o-padding-end: 0; }
        .new-comics .panel-default .panel-body .col-md-2 .caption .text-center {
          font-weight: bold; }
        .new-comics .panel-default .panel-body .col-md-2 .caption p {
          padding-top: 5px;
          -webkit-padding-before: 5px;
          padding-bottom: 0;
          -webkit-padding-after: 0; }
        .new-comics .panel-default .panel-body .col-md-2 .caption .btn-add-to-cart {
          width: 80%; }
        .new-comics .panel-default .panel-body .col-md-2 .caption .btn, .new-comics .panel-default .panel-body .col-md-2 .caption .dropdown-menu {
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -o-border-radius: 0; }
        .new-comics .panel-default .panel-body .col-md-2 .caption .dropdown-menu {
          padding: 0;
          border-style: hidden; }
          .new-comics .panel-default .panel-body .col-md-2 .caption .dropdown-menu a {
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -o-border-radius: 0;
            color: black; }
            .new-comics .panel-default .panel-body .col-md-2 .caption .dropdown-menu a:hover {
              background-color: #008b8b;
              color: white; }

.panel-language {
  border-style: hidden; }
  .panel-language .panel-body {
    padding: 0; }

/*# END NEW COMICS # */
/*# COMICS SALE # */
.breadcrumb-comic-sale {
  margin-bottom: 10px;
  -webkit-margin-after: 10px; }

.jumbotron {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 15px;
  -webkit-margin-after: 15px; }
  .jumbotron img {
    width: 100%;
    height: 175px; }

.container .jumbotron, .container-fluid .jumbotron {
  padding: 0; }

/* FOR ADMIN PANEL BACK END */
.form-horizontal .box-footer {
  padding-right: 30px;
  -webkit-padding-end: 30px;
  -moz-padding-end: 30px;
  -o-padding-end: 30px;
  padding-left: 30px;
  -webkit-padding-start: 30px;
  -moz-padding-start: 30px;
  -o-padding-start: 30px; }

.add {
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0; }

.modal-title {
  text-align: center; }

.form-horizontal .control-label {
  text-align: left !important; }

.btn-block + .btn-block {
  margin-bottom: 5px;
  -webkit-margin-after: 5px; }

.box-header .add {
  padding-right: 0;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -o-padding-end: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0; }

a.btn {
  margin-bottom: 5px;
  -webkit-margin-after: 5px; }

.content-header {
  display: list-item; }

.col-sm-8 {
  padding-left: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -o-padding-start: 0; }

/*pagination */
.pager {
  margin: 0;
  position: initial; }

.pager li > a, .pager li > span {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.my-active span {
  background-color: #cdc9c9 !important;
  color: white !important;
  border-color: #7d7d7d !important; }

/*# sourceMappingURL=style.css.map */
